[Desktop Entry]
Version=1.0
Name=MoTekLab Video Encoder
Comment=v9.3.2 | A modern video converter powered by HandBrakeCLI & PyQt6
Exec=python3 /opt/vconv/vconv.py --gui
Icon=vconv
Terminal=false
Type=Application
Categories=AudioVideo;Video;
Keywords=video;convert;handbrake;encoder;convert;hevc;h265;
StartupNotify=true
StartupWMClass=vconv